# Windows install
pip install backend\requirements\virtualenv-20.16.4-py3-none-any.whl --no-index --find-links file:///../backend/requirements & python -m venv venv & venv\scripts\activate & pip install -r backend/requirements.txt --no-index --find-links file:///../backend/requirements && django-admin startproject app && cd app && django-admin startapp spa && django-admin startapp api && cd .. && xcopy "backend/app" "app" /c /i /e /h /y && if not exist .env copy .env.example .env

# Windows CI/CD
