{% extends "base.html" %}
{% load static %}
{% load i18n %}

<!-- APP CSS -->
{% block css %}
    {{ block.super }}
    <link href="{% static 'spa/assets/css/index.css' %}" rel="stylesheet">
{% endblock css %}
<!-- APP VENDOR CSS -->
{% block vendor_css %}
    {{ block.super }}
{% endblock vendor_css %}

<!--APP BODY-->
{% block header %}{% endblock header %}

{% block aside_l %}{% endblock aside_l %}

{% block aside_r %}{% endblock aside_r %}

{% block app %}
    {{ block.super }}
    <div id="app" app_settings="{% if app_settings %}{{app_settings|safe}}{% else %}{}{% endif %}">app</div>
{% endblock app %}

{% block footer %}{% endblock footer %}

<!-- APP JS -->
{% block js %}
    {{ block.super }}
    <script src="{% static 'spa/assets/js/index.js'%}"></script>
    {% endblock js %}
<!-- APP VENDOR JS -->
{% block vendor_js %}
    {{ block.super }}
{% endblock vendor_js %}
