{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="dj_zs api">
        <meta name="author" content="dj_zs">
        <title>dj_zs api</title>
        <link rel="shortcut icon" href="{% static 'base/assets/images/favicon.ico' %}" type="image/x-icon">
        <!-- APP CSS -->
        <link href="{% static 'base/assets/css/base.css' %}" rel="stylesheet">
        {% block css %}{% endblock css %}
        <!-- APP VENDOR CSS -->
        {% block vendor_css %}{% endblock vendor_css %}
    </head>
    <body>
    {% block header %}
        {% include "base_parts/v1.0/header.html" with data=[{col: 'test'}] %}
    {% endblock header %}

    {% block aside_l %}
        {% include "base_parts/v1.0/aside_l.html" with data=[{col: 'test'}] %}
    {% endblock aside_l %}

    {% block aside_r %}
        {% include "base_parts/v1.0/aside_r.html" with data=[{col: 'test'}] %}
    {% endblock aside_r %}

    {% block app %}
    {% endblock app %}

    {% block footer %}
        {% include "base_parts/v1.0/footer.html" with data=[{col: 'test'}] %}
    {% endblock footer %}
    </body>
    <!-- APP JS -->
    <script type="text/javascript"></script>
    <script type="application/javascript" src="{% static 'base/assets/js/jquery/jquery-3.6.1.min.js'%}"></script>
    <script type="application/javascript" src="{% static 'base/assets/js/base.js'%}"></script>
    {% block js %}{% endblock js %}
    <!-- APP VENDOR JS -->
    {% block vendor_js %}{% endblock vendor_js %}
</html>